//fondos o backgrounds
$fondo :  #2B3035;
$fondo-links: beige;

// colores
$color-red : red;
$color-black : black;
$color-white : white;

//bordes
$border: 6px solid #90ee90;

//maps

$mapa:(
    primero: 25px,
    segundo: 100px,
    tercero: 16px,
    cuarto: 5px,
    quinto: 50px
    );